body {
    background-image: url('https://lh3.googleusercontent.com/4qJP9fYecybOn_WEViW2OGQrZ6aZVKINZYVDsd26DIyzXEhHraMUvfV5CVW9jmOExE0B4DZqp52KfZdYNFKtTo8DK93mxxt9Rwedx44gcxUkh-lp7xxf5_O2LxsMg5LuGV-k1F6Bk4N_ulW32co5nqRCmbTfiJN7hEiiMh6ePakmRBmADOL4jMKL1isuTOPan8eU_l5yRyCBqKr9oHX3upsJ7CVXbjOZ-6o40JRSQNz15ws6mfO5i0pIr9PpfXUTxqCQTSNDgOs33O_0Zr9WtoMNGKNPEw6DhIHp5RyjsyJkZQKXWAA2CnLw7KkfkKH__ntDhGF58oi5z5PnytguXw0_trFSjxQNw9D1jEJWrt9AJXGUCLkwYG3QyXbGnC9GugyJluohp0GqohRMz9WT-EW_2gEM3_TUFnoTnq-eIUCQj_rHnmH7q2g0uGhIUP2IqZTY4OoaCXV7A-k9kdnsvmidiNovu2IEE24f7reMxIPPcz9RRqE-i1BuY7aAial8IbSsxRZ2TAAOUBxy2AlknYOqurs9Yopsr5qjF8ammSQkG_WQJTQjw8dCx40cu6EETjtMpV2gg0WLEHa2DfFAxTI4GkLfF0S00xdWK2DUn1UXr8tb-LVEQgkFp9WWgbk6HUGsLbuKYlL_Fs4gKcdP41GKVnFsRRpUOHOkHTcetsXA4TGWo0EmQHNTx9TVD0rfdAyR_YcP_tV8I4gZUm3-YVxQIHlNx6HLK8rL4DMmlOH_2KSYbxUmO5aESfrJKBcBHJGcJOFMvcuKb4cjZS0dA_kfR_cb4CRcUJHkGmBovu_VrTdiA022reNDZTP2tAROfB9sRCvkRk_vCqx10olFXO5NCLrtSRdR4Sm2_SiXStgsBu_Vp7W4Hx2ixeRZmUyh5hjgJE18jNNteeCN6SUBjvIcKGx6NFPoxQjwpyG22fCAGjA_=w2592-h1940-s-no?authuser=0');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 3em;
    margin: 0;
}
nav {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}
nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}
main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: justify;
}
h2 {
    font-size: 2em;
    margin: 0 0 10px 0;
}
p {
    margin: 10px 0;
}