body {
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3AtNDMwLWx1a2VzdGFja3Bvb2xlLXBhdHRlcm5zLmpwZw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 3em;
    margin: 0;
}
nav {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}
nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}
main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: justify;
}
h2 {
    font-size: 2em;
    margin: 0 0 10px 0;
}
p {
    margin: 10px 0;
}